# EditorConfig file: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Identazione
[**.{tex, json, md, tex, yml, bib}]
charset = utf-8
indent_style = space
indent_size = 4

# ignora contenuto della cartella dist
[/dist/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
